flask~=1.1.2
nlu
numpy>=1.20.3
#pywinauto~=0.6.8
matplotlib~=3.3.3
pyttsx3~=2.90
autoscraper~=1.1.10
Jinja2~=2.11.2
jprops~=2.0.2
imutils~=0.5.3
dlib~=19.21.1
pyzbar~=0.1.8
textblob~=0.15.3
googletrans~=3.0.0
wheel
twine
setuptools
# zbar-py
markupsafe==2.0.1
PyAutoGUI~=0.9.50
websockets
rhasspy-nlu
flask_cors
setuptools_rust
snips_nlu
SpeechRecognition

scikit-learn<0.23,>=0.21.1
#PyAutoGUI~=0.9.50
#pywinauto~=0.6.8
urllib3==1.22s
opencv-python
jpype1
pandas
seaborn
xlrd
pyyaml
h5py
wolframclient
tensorflow
tensorflow_datasets
tensorflow_probability
opencv-contrib-python
scikit-learn
rhasspy-nlu
#adafruit-circuitpython-fxos8700
#adafruit-circuitpython-fxas21002c
pyfirmata