<!--
https://www.babylonjs-playground.com/#ER6T4W#40
https://doc.babylonjs.com/divingDeeper/gui/gui
https://doc.babylonjs.com/divingDeeper/materials/advanced/transparent_rendering
https://doc.babylonjs.com/divingDeeper/gui/gui3D
https://doc.babylonjs.com/divingDeeper/gui/gui
-->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Babylon.js sample code</title>

        <!-- Babylon.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://code.jquery.com/pep/0.4.2/pep.min.js"></script>
        <script src="https://mottie.github.io/Keyboard/docs/js/jquery-ui-custom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.30.2/js/jquery.keyboard.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.30.2/js/jquery.keyboard.extension-all.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/ammo.js"></script>
        <script src="https://preview.babylonjs.com/cannon.js"></script>
        <script src="https://preview.babylonjs.com/Oimo.js"></script>
        <script src="https://preview.babylonjs.com/earcut.min.js"></script>
        <script src="https://preview.babylonjs.com/babylon.js"></script>
        <script src="https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://preview.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
        <script src="https://preview.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
        <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.js"></script>
        <script src="https://preview.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
        <script src="https://preview.babylonjs.com/gui/babylon.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>

        <script async src="/static/opencv.js"></script>
        <script src="/static/util.js"></script>
{#        <script src="/static/gl-matrix.js"></script>#}
        <script src="/static/webgl-video-cube.js"></script>

        <style>
            html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #renderCanvas {
                width: 100%;
                height: 100%;
                margin:0;
                touch-action: none;
            }

            #keyboard {
                width:100px;
                height:20px;
                position:absolute;
                color:black;
            }

            #icon {
                position:absolute;
                left: 110px
            }

            #renderCanvas {
                width: 640px;
                height: 480px;
                touch-action: none;
                opacity: 50%;
            }

            /* This is where the height and width of the image returning from the camera is set*/
            img {
                width: 640px;
                height: 480px;
            }

            #gamecontainer {
                border: 1px solid black;
                position: absolute;
                margin: 0 auto;
            }

            #gamestartscreen {
                position: absolute;
            }

            body {
                margin: 0;
            }
        </style>

        <script src="/static/LeapMotionData.js"></script>
    </head>
    <body style="background-color:black">
    <div id="info" class="text-center">
      OpenCV.js is loading...
    </div>
    <div class="gamecontainer" style="display:table-row;background-color:transparent;">
        <div id="gamestartscreen">
    <!--        <img id="bg" src="{{ url_for('video_feed') }}"/>-->
            <div style="display: inline-block; text-align: center; display: none;z-index: -1">
                <video id="videoInput" width="640" height="480"></video>
            </div>
            <div style="display: inline-block; text-align: center; display: none;">
                <canvas id="arucoCanvasOutput" width="640" height="480"></canvas>
            </div>
            <div style="display: inline-block; text-align: center">
                <canvas id="webgl-draw" width="640" height="480"></canvas>
            </div>
        </div>
        <canvas id="renderCanvas"></canvas>
    </div>
<!--        <div>-->
<!--            <input id="keyboard" type="text" />-->
<!--            <img id="icon" src="https://mottie.github.io/Keyboard/docs/css/images/keyboard.png" />-->
<!--        </div>-->
        <canvas id="renderCanvas"></canvas>`
        <script src="/static/cerebro.js"></script>
        <script src="/static/createCerebro.js"></script>
{#        <script src="/static/basicScene.js"></script>#}

<!--        <script src="/static/keyboard.js"></script>-->

    <script>
        let markerId, markerCorner, rvec, tvec, copyCorners;
        var front = false;
        let video = document.getElementById('videoInput');
        
        loadTextResource('/static/utils.js', function (err, obj) }
            if (err) }
                console.error(err);
            } else }
                var script = document.createElement('script');
                script.append(obj);
                document.body.appendChild(script);
        
                loadTextResource('/static/aruco-video.js', function (err, obj) }
                    if (err) }
                        console.error(err);
                    } else }
                        var script = document.createElement('script');
                        script.append(obj);
                        document.body.appendChild(script);
                    }
                });
            }
        });
        
        function opencvReady() }
            // // document.getElementById('ready').innerText = 'OpenCV is ready';
            // if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) }
            //   console.log("enumerateDevices() not supported.");
            //   return;
            // }
            //
            // // List cameras and microphones.
            // navigator.mediaDevices.enumerateDevices()
            //     .then(function(devices) }
            //       devices.forEach(function(device) }
            //         console.log(device.kind + ": " + device.label +
            //                     " id = " + device.deviceId);
            //       });
            //     })
            //     .catch(function(err) }
            //       console.log(err.name + ": " + err.message);
            //     });
        
            //'08aa77fb59af4253b772279ba3313708c459b35cc16e5b66d24e1b77526cfd91'
            var deviceId = 'f987dd7c8a8ddb5003176852f8bcb5254f9eac9b0c9e73b67a76373197b54f6d';//front facing camera
            //{ deviceId: deviceId }
            //{ facingMode: 'user' }
            navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' }, audio: false })
                .then(function (stream) }
                    video.srcObject = stream;
                    video.play();
                    main();
                })
                .catch(function (err) }
                    console.log("An error occurred! " + err);
                });
            runDemo();
        }


        var featuresReady = checkFeatures(document.getElementById("info"), {webrtc: true});

        var Module = {
          preRun: [function() {
            {#Module.FS_createPreloadedFile('/', 'haarcascade_eye.xml', '/static/haarcascade_eye.xml', true, false);#}
            Module.FS_createPreloadedFile('/', 'haarcascade_frontalface_default.xml', '/static/haarcascade_frontalface_default.xml', true, false);
            {#Module.FS_createPreloadedFile('/', 'haarcascade_profileface.xml', '/static/haarcascade_profileface.xml', true, false);#}
          }],
          _main: function() {opencvIsReady();}
        };



        {#const checkOpencv = setInterval(() => {#}
        {#    // let mat1 = cv.matFromArray(3,3,cv.CV_32FC1,[1,2,3,4,5,6,7,8,9]);#}
        {#    // let mat2 = cv.matFromArray(3,3,cv.CV_32FC1,[1,2,3,4,5,6,7,8,9]);#}
        {#    // let dst = new cv.Mat();#}
        {#    // cv.add(mat1, mat2, dst);#}
        {#    // mat1.delete(), mat2.delete();#}
        {#    // //Don't forget to delete cv.Mat when you don't want to use it any more.#}
        {#    // console.log("dst::" + dst.data32F);//dst::2,4,6,8,10,12,14,16,18#}
        {#    // if (cv.usingWasm) {#}
        {#        opencvReady();#}
        {#        clearInterval(checkOpencv);#}
        {#    // }#}
        {#}, 500);#}
    </script>
    <script src="/static/index.js"></script>
    </body>
</html>

<!--multiple viewports &#45;&#45; https://www.babylonjs-playground.com/#17DP89#13-->
<!--multiple scenes &#45;&#45; https://playground.babylonjs.com/#MXCRPS#1-->
<!--2 GUI https://www.babylonjs-playground.com/#U5URZC#20 -->
<!--3d button 2 gui https://playground.babylonjs.com/#A6TFXB#39-->
<!--HUD Items in 3D space https://www.babylonjs-playground.com/index.html#UTINNB#21 -->
<!-- https://www.babylonjs-playground.com/#MTWBAT -->

<!-- keyboard -->
<!--https://codepen.io/gschier/pen/VKgyaY-->
<!--https://mottie.github.io/Keyboard/-->
<!--https://www.babylonjs-playground.com/index.html#UTINNB#37-->