<script>
    // Set up plugins
    Leap.loop({background: true})
        .use('transform', {
            vr: true//'desktop' // Switch to meters. true = optimized for head
        })
        .use('boneHand', {
            targetEl: document.body,
            jointColor: new THREE.Color(0xffffff),
            rendererOps: {antialias: true}
        })
        .use('proximity');

    // Set up scene
    var scene = Leap.loopController.plugins.boneHand.scene;
    var camera = Leap.loopController.plugins.boneHand.camera;
    var renderer = Leap.loopController.plugins.boneHand.renderer;
    camera.fov = 45;
    {#console.log("camera fov " + camera.fov);#}
    camera.position.set(0, 0.3, 0.6);

    {#var controls = new THREE.LeapCameraControls(camera);#}
    var controls = new THREE.OrbitControls( camera, renderer.domElement );

    var axisHelper = new THREE.AxisHelper(0.1);
    scene.add(axisHelper);

    var planeGeo = new THREE.PlaneGeometry(0.1, 0.2);
    var material = new THREE.MeshPhongMaterial({side: THREE.DoubleSide, transparent: true});
    var planeMesh = new THREE.Mesh(planeGeo, material);
    planeMesh.position.setX(0.05);
    planeMesh.position.setY(0.1);
    planeMesh.name = "planeMesh";

    longThrow = 0.05;
    var base = new THREE.Mesh(new THREE.BoxGeometry(0.1, longThrow, longThrow), new THREE.MeshPhongMaterial({color: 0x222222}));
    //  base.position.set(0.05, -0.05, -0.1);
    base.position.set(0.05, 0.05, -0.5);
    base.rotateY(Math.PI / 4);

    planeMesh.position.set(
        0,
        planeMesh.geometry.parameters.height / 2 - longThrow / 2,
        longThrow / 2 + 0.0002
    );

    var sphereGeom =  new THREE.SphereGeometry( 1000, 32, 16 );
    var blueMaterial = new THREE.MeshBasicMaterial( { color: 0x0000ff, transparent: false, opacity: 0.5 } );
    var sphere = new THREE.Mesh( sphereGeom, blueMaterial );
    sphere.position.set(0,
        planeMesh.geometry.parameters.height / 2 - longThrow / 2,
        longThrow / 2 + 0.0002)

    base.add(sphere);

    base.add(planeMesh);
    scene.add(base);

    //only allows z to move - can make this any variation.
    // TODO: I could also set this as a command like - set move object x axis only or something like that
    var plane = new InteractablePlane(planeMesh, Leap.loopController, {moveZ: true, moveX: true, moveY: true});
    {#var plane = new InteractablePlane(planeMesh, Leap.loopController);#}

    function moveX(gyroX, gyroy, gyroz) {
        controls.rotateUp(gyroy);
        controls.rotateLeft(gyroX);
        {#controls.dollyIn(gyroz);#}
        camera.translateZ(gyroz);
        {#if (gyroz > 0) {#}
        {#    controls.dollyIn(gyroz);#}
        {# } else if (gyroz < 0) {#}
        {#    console.log("dolly out yo");#}
        {#    controls.dollyOut(gyroz);#}
        {# }#}

        controls.update();
    }
</script>