@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --orange-hover: hsl(21, 86%, 67%);
    --orange: #e46644;
    --white: hsl(0, 0%, 100%);
    --whitish-gray: hsl(0, 0%, 96%);
    --very-light-gray: hsl(0, 0%, 89%);
    --light-gray: hsl(222, 9%, 78%);
    --gray: hsl(213, 4%, 51%);
    --bluish-gray: hsl(217, 8%, 38%);
    --dark-gray: hsl(213, 9%, 23%);
    --very-dark-gray: hsl(220, 7%, 18%);
    --blackish-gray: hsl(216, 8%, 12%);
    --almost-black: hsl(225, 9%, 9%);
}

html {
    --r340: calc((340 / var(--base) * 1rem));
    --r250: calc((250 / var(--base) * 1rem));
    --r218: calc((218 / var(--base) * 1rem));
    --r44: calc((44 / var(--base) * 1rem));
    --r42: calc((42 / var(--base) * 1rem));
    --r37: calc((37 / var(--base) * 1rem));
    --r30: calc((30 / var(--base) * 1rem));
    --r28: calc((28 / var(--base) * 1rem));
    --r27: calc((27 / var(--base) * 1rem));
    --r26: calc((26 / var(--base) * 1rem));
    --r21: calc((21 / var(--base) * 1rem));
    --r22: calc((22 / var(--base) * 1rem));
    --r20: calc((20 / var(--base) * 1rem));
    --r18: calc((18 / var(--base) * 1rem));
    --r15: calc((15 / var(--base) * 1rem));
    --r14: calc((14 / var(--base) * 1rem));
    --r13: calc((13 / var(--base) * 1rem));
    --r12: calc((12 / var(--base) * 1rem));
    --r10: calc((10 / var(--base) * 1rem));
    --base: 16;
}

/* ------------------- Overall structure ------------------ */
body {
    background-color: white;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* ----------------------- Buttons only ------------------- */
#new-doc-btn,
#save-change-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 4px;
    color: var(--white);
    font-weight: 400;
    font-size: var(--r15);
    line-height: var(--r18);
    transition: .3s;
}

#new-doc-btn {
    margin-bottom: 1.5rem;
    padding: var(--r12) var(--r44);
}

#save-change-btn {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: var(--r10) var(--r18) var(--r12) 1rem;
}

#new-doc-btn:is(:hover),
#save-change-btn:is(:hover) {
    background-color: var(--orange-hover);
}

/* ----------------- Sidebar/side nav bar ----------------- */
#sidebar {
    background-color: var(--blackish-gray);
    font-family: 'Roboto', sans-serif;
    padding: var(--r27) 1.5rem;
    position: sticky;
    top: 0;
    height: 100vh;
}

.docs-nav-section > p {
    color: var(--gray);
    display: block;
    font-weight: 500;
    font-size: var(--r14);
    line-height: 1rem;
    letter-spacing: 2px;
    padding-bottom: var(--r30);
    text-transform: uppercase;
    margin-bottom: 0;
}

#sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 3.5rem);
}

.new-doc {
    display: flex;
    gap: 1rem;
    padding-bottom: var(--r26);
}

.icon-doc {
    object-fit: contain;
}

.doc-date-name { /*to reset any hidden padding*/
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.doc-date {
    color: var(--gray);
    font-weight: 300;
    font-size: var(--r13);
    line-height: var(--r15);
}

.doc-name-uneditable {
    color: var(--white);
    cursor: pointer;
    font-weight: 400;
    font-size: var(--r15);
    line-height: var(--r18);
    text-decoration: none;
}

.doc-name-uneditable:is(:hover, :focus, :active) {
    color: var(--orange);
}

/* Day-night toggle switch */
#day-night-toggle {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: var(--r12);
}

#toggle-switch {
    font-size: 0;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

#toggle-label {
    background-color: var(--bluish-gray);
    border: none;
    border-radius: var(--r12);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 1.5rem;
    width: 3rem;
    position: relative;
    transition: 0.5s;
}

#toggle-label:hover { /*optional*/
    background-color: var(--gray);
}

#toggle-label::after {
    content: "";
    background-color: var(--white);
    height: var(--r12);
    width: var(--r12);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 6px);
    right: 6px;
    transition: 0.5s;
}

input:checked + #toggle-label:after {
    transform: translateX(-200%);
}

#icon-light {
    filter: invert(100%) brightness(200%);
}

/* -------------------- Main container -------------------- */
.main-container {
    padding: 0;
    overflow: hidden;
}

/* ---------------------- Main-header --------------------- */
#main-header {
    display: flex;
    height: 4.5rem;
}

#menu-close-toggle {
    background-color: var(--dark-gray);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4.5rem;
    cursor: pointer;
    transition: left .3s ease-in-out;
}

#menu-close-toggle:is(:hover, :focus) {
    background-color: var(--orange);
}

#menu-close-toggle > span {
    background-image: url('data:image/svg+xml,<svg width="30" height="18" xmlns="http://www.w3.org/2000/svg"><g fill="%23FFF" fill-rule="evenodd"><path d="M0 0h30v2H0zM0 8h30v2H0zM0 16h30v2H0z"/></g></svg>');
    background-position: center;
    height: var(--r18);
    width: var(--r30);
}

#menu-close-toggle > span.close { /*only appear on toggle*/
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g fill="%23FFF" fill-rule="evenodd"><path d="M2.1.686 23.315 21.9l-1.415 1.415L.686 2.1z"/><path d="M.686 21.9 21.9.685l1.415 1.415L2.1 23.314z"/></g></svg>');
    background-repeat: no-repeat; 
    background-position: center;
    height: var(--r22);
    width: var(--r22);

}

#sub-header {
    background-color: var(--very-dark-gray);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1.5rem;
    width: 100%;
}

#sub-header > div {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

#brand-logo {
    object-fit: contain;
}

#divider {
    color: var(--bluish-gray);
    font-size: 2.5rem;
    font-weight: 100;
    padding: 0 1.5rem 0.5rem var(--r30);
}

#document-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#document-name { /*to reset any hidden padding*/
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

#document-name > span {
    color: var(--gray);
    font-weight: 300;
    font-size: var(--r13);
    line-height: var(--r15);
    margin-bottom: 0;
}

#doc-name-editable {
    background-color: transparent;
    border-color: transparent; 
    border-width: 0 0 1px 0;
    padding-bottom: 5px;
    caret-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    font-weight: 400;
    font-size: var(--r15);
    line-height: var(--r18);
    outline: none;
    width: 25rem;
    transition: 0.3s;
}

#doc-name-editable:is(:hover, :focus, :active) {
    border-color: var(--white);
    border-style: solid;
}

#delete-or-save-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#del-btn { /*Hover effect in js*/
    background-color: transparent;
    border: none;
    transition: .3s;
}