<!--
derived from https://github.com/BabylonJS/BabylonAR
-->
<!DOCTYPE html>
<html>
    <head>
        <title>OpenCV Photo Example</title>
{#        <script src="https://cdn.babylonjs.com/babylon.max.js"></script>#}
        <script src="/static/myBuild/babylon.max.js"></script>
        <script src="https://ar.babylonjs.com/babylonAr.js"></script>
        <script src="/static/babylonar/babylonjsDrawTracker.js"></script>
        <script src="/static/babylonar/createTrackingIndicator.js"></script>
        <style>
            html, body, canvas {
                width: 100%;
                height: 100%;
                margin:0;
                padding:0;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <canvas id="renderCanvas"></canvas>
        <video id="video" width="640" height="480" class="hidden"></video>
        <script>
            window.addEventListener("DOMContentLoaded", function () {
                var canvas = document.getElementById('renderCanvas');
                var engine = new BABYLON.Engine(canvas, true);
    
                var createScene = async function () {
                    var scene = new BABYLON.Scene(engine);
                    scene.clearColor = BABYLON.Color3.Black();

                    var camera = new BABYLON.FreeCamera('camera', new BABYLON.Vector3(0, 0, -1), scene);
                    camera.mode = BABYLON.Camera.ORTHOGRAPHIC_CAMERA;
                    camera.minZ = 0.1;

                    var interactionDisabled = true;
                    var setInteractionDisabled = (disabled) => {};
                    
                    // Set up plane.
                    var plane = BABYLON.MeshBuilder.CreatePlane("plane", {}, scene);
                    plane.scaling.y = -1;
                    var planeMaterial = new BABYLON.PBRMaterial("planeMaterial", scene);
                    planeMaterial.unlit = true;
                    plane.material = planeMaterial;

                    // Add video texture.
                    const constraints = {
                        maxWidth: 640, // Magic number
                        maxHeight: 480, // Magic number
                        minWidth: 640, // Magic number
                        minHeight: 480, // Magic number
                        deviceId: 'f987dd7c8a8ddb5003176852f8bcb5254f9eac9b0c9e73b67a76373197b54f6d'
                    };
                    var texture = await BABYLON.VideoTexture.CreateFromWebCamAsync(scene, constraints);

                    plane.material.albedoTexture = texture;
                    plane.scaling.x = texture.getSize().width / texture.getSize().height;



                    // Resize logic.
                    var ratio = 1;
                    var scale = 1;
                    scene.onBeforeRenderObservable.add(() => {
                        ratio = canvas.width / canvas.height;
                        camera.orthoBottom = -scale / 2;
                        camera.orthoTop = scale / 2;
                        camera.orthoLeft = -scale * ratio / 2;
                        camera.orthoRight = scale * ratio / 2;
                    });


                    // Create the template tracker
                    var tracker = await BabylonAR.ImageTemplateTracker.CreateAsync(texture);
                    tracker = createTrackingIndicator(scene, tracker, plane);

                    drawTracker(scene, canvas, camera, scale, plane, tracker);

                    return scene;
                }

                createScene().then(function (scene) {
                    engine.runRenderLoop(function(){
                        scene.render();
                    });

                    var vid = document.getElementsByTagName("video")[0];
                    console.log("vid " + JSON.stringify(vid.attributes));

                    window.addEventListener('resize', function(){
                        engine.resize();
                    });
                });
            });
        </script>

    </body>
</html>