<html>
<head>
    <title>SERINDA - Intelligent Personal Assistant</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
{#        <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>#}
    <!-- we import arjs version without NFT but with marker + location based support -->
{#    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>#}

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/static/hamburger2.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color:transparent">
{% include 'menu.html' %}
{#transform: rotateY(180deg);#}
{% include 'ThreeJSScene.html' %}
<main style="background-color:transparent; margin-left:300px;">
        <div id="target_div">Watch this space...</div>
    <style>

        #gamecontainer {
            width: 1900px;
            height: 1280px;
            border: 1px solid black;
            position: relative;
            margin: 0 auto; }

        canvas{ position: absolute; z-index: -11 }

        #gamestartscreen {
            position: absolute;
            margin: 0 auto;
            z-index: 2;}
    </style>
    <!--
        div over canvas -- http://jsfiddle.net/n992V/
        https://stackoverflow.com/questions/15861485/placing-a-div-over-a-canvas-in-html5
    -->
    <div class="gamecontainer" style="display:table-row;background-color:transparent;margin-left:300px">
        <canvas width="1536" height="262" style="width: 1536px; height: 262px;"></canvas>
        <div id="gamestartscreen">
            {%  include 'displaySection.html' %}
        </div>

    </div>
</main>

{% include 'javascript.html' %}
<script type="text/javascript">
    {% for item in javascriptList %}
        {% include item %}
    {% endfor %}
</script>

</body>
</html>